/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply font-mono;
	}

	a {
		@apply text-saffron-700;
	}
}

@layer utilities {
	.scrollbar-thin::-webkit-scrollbar {
		width: 10px;
	}

	.scrollbar-dark::-webkit-scrollbar-track {
		background: #27272a;
		border-radius: 10px;
	}

	.scrollbar-light::-webkit-scrollbar-track {
		background: #f4f4f5;
		border-radius: 10px;
	}

	.scrollbar-thumb::-webkit-scrollbar-thumb {
		background: #a16207;
		border-radius: 10px;
	}

	.theme-colors {
		@apply bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-100;
	}
}
